.row {
  max-width: 80vw;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
    @media (max-width: 900px) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-bottom: 1rem; } }
  .row .col-1-of-1 {
    width: calc((100%)); }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 *4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(1 * ((100% - 3 *4rem) / 2) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 *4rem) / 4) + 2 *4rem); }

@keyframes animation-heading {
  0% {
    opacity: 0;
    transform: translate(0, -20vh); }
  90% {
    opacity: 0.8;
    transform: translate(0, -2vh); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes animation-heading-button {
  0% {
    opacity: 0;
    transform: translate(0, 20vh); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none; }

html {
  min-width: 375px;
  padding: 0 1rem; }
  @media (max-width: 1200px) {
    html {
      font-size: 12px; } }
  @media (max-width: 600px) {
    html {
      font-size: 8px; } }
  @media (max-width: 900px) {
    html {
      font-size: 10px; } }
  @media (min-width: 1800px) {
    html {
      font-size: 16px; } }

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(129, 245, 222, 0.8), rgba(62, 156, 177, 0.6)), url("../image/lucdiaTayvat.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  /* clippy */
  clip-path: ellipse(74% 68% at 51% 32%); }
  .header__logo-box {
    position: absolute;
    top: 1vh;
    left: 1vw; }
  .header__logo {
    width: 20vw;
    height: 15vh; }
    @media (max-width: 600px) {
      .header__logo {
        width: 40vw;
        height: 15vh; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -60%); }
  .header__image-box {
    position: absolute;
    top: 15%;
    left: 60%;
    display: none; }
  .header__image-box img {
    width: 30vw;
    height: 60vh; }

.heading-one {
  margin-bottom: 2vh;
  /*animation */
  animation: animation-heading 2s ease-out; }
  .heading-one--xxl {
    display: block;
    font-size: 4.7rem;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    font-family: "Lobster", cursive; }

.btn, .btnbtn:visited, .btnbtn:link {
  display: block;
  padding: 10px 0px;
  text-align: center;
  width: 10vmax;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 5vmax;
  position: relative; }

.btn--white {
  background-color: aliceblue;
  color: #5bd8d8;
  /*animation */
  animation-name: animation-heading-button;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.4);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8); }

.btn::after {
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: aliceblue;
  color: #5bd8d8;
  border-radius: 5vmax;
  z-index: -1;
  transition: all 0.4s; }

.heading-two {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  background-image: linear-gradient(to right, #b1cff3, #04446c);
  color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
  transition: all 0.2s; }
  .heading-two--xxl {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700; }
  .heading-two--xl {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #000; }
  .heading-two--l {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1d0303; }
  .heading-two:hover {
    transform: skewY(6deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.section-about {
  width: 100%;
  background-color: #d4e2df;
  margin-top: -5rem;
  padding-top: 7rem; }

.heading-three {
  font-size: 1.5rem;
  margin-bottom: 0.5rem; }

.p-long {
  text-indent: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem; }

.image-component {
  position: relative;
  margin-bottom: 5rem;
  min-height: 20rem; }
  .image-component__photo img {
    width: 50%;
    border-radius: 0.3rem;
    position: absolute;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .image-component__photo img:hover {
      transform: scale(1.8) translateX(3rem);
      outline: solid 0.5rem rgba(67, 53, 90, 0.8);
      box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
      z-index: 20;
      padding: 0.5rem; }
  .image-component__photo--i1 {
    top: 0rem;
    left: 0rem; }
  .image-component__photo--i2 {
    top: 5rem;
    left: 7rem; }
  .image-component__photo--i3 {
    top: 2rem;
    left: 4rem; }

.btn-link {
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5rem;
  padding: 0.2rem;
  padding-left: 0rem;
  border-bottom: solid 0.1rem; }
  .btn-link:hover {
    background-color: #81f5de; }

.section-place {
  background-color: #19715e;
  margin-top: -5rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(96, 79, 80, 0.8), rgba(28, 194, 231, 0.6)), url("../image/lucdiaTayvat.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  /* clippy */
  clip-path: ellipse(80% 50% at 50% 50%); }

.detail-box {
  padding: 2rem 2rem;
  border: solid 0.1rem;
  border-radius: 2rem;
  background-color: rgba(236, 203, 203, 0.2);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.8); }
  .detail-box__content {
    min-height: 18rem;
    max-height: 18rem;
    overflow: auto; }
  .detail-box__logo img {
    width: 100%;
    max-height: 20rem;
    min-height: 20rem; }
  .detail-box:hover {
    transform: translateY(-1rem) scale(1.05);
    transition: all 0.3s; }

.row-detail:not(:last-child) {
  margin-bottom: 3rem; }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    border-radius: 50%;
    background-color: rgba(255, 248, 248, 0.8);
    position: fixed;
    top: 1rem;
    right: 3rem;
    z-index: 8888;
    height: 4rem;
    width: 4rem; }
  .navigation__background {
    border-radius: 50%;
    background-color: #085683;
    position: fixed;
    top: 1rem;
    right: 3rem;
    z-index: 7777;
    height: 4rem;
    width: 4rem;
    transition: all 0.5s; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100); }
  .navigation__checkbox:checked ~ .navigation__nav {
    display: block; }
  .navigation__nav {
    display: none;
    z-index: 8000;
    position: fixed;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto; }
    @media (max-width: 900px) {
      .navigation__nav {
        width: 60%; } }
    .navigation__nav--list {
      text-align: center;
      list-style: none;
      text-decoration: none;
      margin: 0 auto; }
    .navigation__nav--item {
      display: block;
      border-radius: 5rem;
      margin-bottom: 2rem; }
      .navigation__nav--item:hover {
        background-color: white;
        transform: translateY(-2rem) scale(1.1);
        transition: all 0.3s;
        box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.6); }
        .navigation__nav--item:hover a {
          background-image: linear-gradient(to right, #b1cff3, #d39625);
          color: transparent;
          -webkit-background-clip: text; }
      .navigation__nav--item a {
        color: azure;
        font-size: 4em; }
      .navigation__nav--item a:active ~ .navigation {
        display: none; }

.footer {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: -3rem;
  padding-top: 4rem;
  padding-bottom: 3rem; }
